= form.error_messages

%p
  = form.label :setting_type, "対象"
  %br
  = form.radio_button :setting_type, "user"
  = form.label :setting_type_user, "ユーザID"
  = form.radio_button :setting_type, "keyword"
  = form.label :setting_type_keyword, "キーワード"

%p
  = form.label :setting_value, "ユーザID か キーワード"
  %br
  = form.text_field :setting_value

